*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Montserrat, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #2E323F;
    padding: 1em 0;
}

.nav {
    display: none;
    text-align: center;
    padding: 1em 0;
}

.nav--visible {
    display: block;
}

.nav-toggle {
    width: 4.2em;
    height: 4.2em;
    font-size: 1rem;
    border-radius: 50%;
    border: none;
    background-color: #6F737F;
}

.nav-toggle--active {
    background-color: #3B4050;
}

.hamburger {
    display: block;
    width: 50%;
    height: 0.3em;
    background-color: #FFFFFF;
    border-radius: 0.3em;

    position: relative;
    transform: rotate(0deg);
    opacity: 1;
    transition: .5s ease-in-out;
}

.hamburger:nth-of-type(1) {
    top: -0.3em;
    left: 25%;
}

.hamburger:nth-of-type(2) {
    left: 25%;
}

.hamburger:nth-of-type(3) {
    top: 0.3em;
    left: 25%;
}

.hamburger--active:nth-of-type(1) {
    top: 0.3em;
    left: 25%;
    transform: rotate(135deg);
}

.hamburger--active:nth-of-type(2) {
    left: 0;
    opacity: 0;
}

.hamburger--active:nth-of-type(3) {
    top: -0.3em;
    left: 25%;
    transform: rotate(225deg);
}

.nav__item,
.footer-links__item {
    list-style: none;
}

.nav__link,
.footer-links__link,
.hero__btn {
    text-decoration: none;
    color: #FFFFFF;
}

.nav__item {
    margin-top: 1em;
}

.nav__item--push {
    margin-top: 2em;
}

.nav__link {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}

.nav__link--button {
    background-color: #A59678;
    padding: 0.25em 1em;
    border-radius: 100px;
}

.hero {
    background-color: #3B4050;
    color: #FFFFFF;
    padding: 2em 0 3em;
}

.hero__title {
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.3em;
}

.hero__title span {
    color: #A59678;
}

.hero__text {
    font-size: 2.4rem;
    line-height: 1.5em;
    margin: 1em 0 1.5em;
}

.hero__btn {
    background-color: #A59678;
    padding: 0.3em 1.5em;
    border-radius: 100px;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.features-section {
    background-color: #F1F1F1;
    padding: 2em 0 4em;
}

.features-section__title {
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #A59678;
    margin: 1em 0 0.5em;
}

.features-section__text {
    font-size: 1.8rem;
    margin-top: 0.5em;
}

.primary-section {
    padding: 5em 0 2em;
}

.primary-section__title {
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 3.6rem;
    color: #A59678;
    line-height: 1.2em;
}

.primary-section__text {
    font-size: 2.1rem;
    margin: 1em 0;
}

.sidebar__card {
    background-color: #3B4050;
    color: #FFFFFF;
    text-align: center;
    margin: 2em 0;
    padding: 2em;
}

.sidebar__title {
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.2em;
}

.sidebar__text {
    font-size: 1.8rem;
    margin-top: 1em;
}

footer {
    background-color: #3B4050;
    padding: 3em 0;
}

.footer__title {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 3.4rem;
    text-align: center;
    line-height: 1.2em;
}

.footer-about__title,
.footer-links__title {
    color: #A59678;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    font-size: 2.1rem;
    margin-top: 2em;
    text-align: center;
}

.footer-about__text {
    color: #FFFFFF;
    line-height: 1.5em;
    margin-top: 1em;
    text-align: center;
}

.footer-links__item,
.footer-links__title {
    line-height: 2.5em;
    text-align: center;
}

@media only screen and (min-width: 700px) {
    .hero__title {
        font-size: 9rem;
    }

    .hero__text {
        margin: 2em 0;
    }

    .sidebar {
        display: flex;
        gap: 1em;
    }

    .footer-links {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
    
    .footer-links > article {
        justify-self: center;
    }
    
    .footer-links__item,
    .footer-links__title {
        text-align: left;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 80%;
    }

    .row {
        display: flex;
    }

    .col {
        align-self: self-end;
    }

    .flex-container--wide-screen {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        flex-grow: 0.3;
        display: block;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
    }

    .nav__item {
        margin-top: 0;
    }

    .nav__item--push {
        margin-left: 1.5em;
    }

    header {
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    .hero {
        height: 100vh;
        padding: 0;
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
    }

    .hero--gap {
        gap: 2em;
    }

    .hero__title {
        line-height: 1em;
    }

    .features-section {
        text-align: center;
    }

    .features-section--gap {
        gap: 5em;
    }
}